@charset "utf-8";
/* CSS Document */
/*此刻不顯示  小版*/
.MidShow{display:none;}

/*此刻不顯示在RWD選單的項目*/
.RWDMenuShow{display:none !important;}

/*原本全版訊息寬度*/
.BlockBig{width:58%;border:#eeeeee 1px solid;padding:10px;}
.LinkShowHome{width:180px;height:90px;}
.SystemLinkShow{width:22%;}
.LOGO{/*margin-left:90px;*/}/*LOGO*/
.MainTop{height:258px;background-image:url(../../ImgCommon/TopImg.png?v1);background-repeat:no-repeat;background-position:center top;}
.AdSysTitle{margin-top:30px;}/*系統標題圖*/
.SystemLinkBlock{margin:0px 22px;}
.AlbumBlockWidth{width:25%;}
.MainBigPic{height:310px;}

/*網站版本&子網名稱*/
.Version { 
    /*background-color:#ab452f;*/
    color:#ffffff;
    padding:0px 0px 0px 0px;
    display:inline-block;
    margin-bottom:10px;
}
.VersionInner{ 
    margin:2px 2px 1px 2px;
}
.VersionInner td{ 
    border:#ffffff 1px solid;
    padding:4px;
}
.BarTop .NaviLink{ float:right; margin-top:-75px; letter-spacing:1pt;padding-right:5px;width:auto; } 

@media (max-width: 1580px) {
	/*原本全版訊息寬度改為滿版*/
	.SystemLinkShow{width:18%;}
}
@media (max-width: 1200px) {
	/*原本全版訊息寬度改為滿版*/
	.SystemLinkShow{width:23%;}
	
}
@media (max-width: 1130px){.SystemLinkBlock{margin:0px 10px;}}
@media (min-width: 1100px){
	
	body .navbar-collapse
	{
		width:100%;
		margin: 0;
		padding:0;
		position: relative;
	}

	body .navbar-toggle {
	    display: none;
	}
	
}

@media (max-width: 1000px) {
	.ForeImg{width:100%;}
	/*原本全版訊息寬度改為滿版*/
	.BlockBig{width:57%;}
	.SystemLinkShow{width:25%;}
	.AdTitle{width:36.7%;margin-top:1%;}/*標語圖*/
	.AdSysTitle{width:36.7%;margin-top:35px;}/*系統標題圖*/
	.LOGO{}/*LOGO*/
	.SystemLinkBlock{margin:0px 10px;}
}
@media (max-width: 950px) {
.AdTitle{width:33%;margin-top:20px;}/*標語圖*/
}
@media (max-width: 880px) {
	
	body .top{ height: 155px;}
	/*LOGO 中版*/
	.Logo { 
	}
	/*原本全版訊息寬度改為滿版*/
	.BlockBig{width:56%;}
	.SystemLinkShow{width:30%;}
	.AdTitle{width:30%;margin-top:30px;}/*標語圖*/
	.LOGO{}/*LOGO*/
	
	/*導覽連結列*/
	.BarTop .NaviLink{ float:right; margin-top:-40px; padding-top:0px; padding-right:5px; } 
}
@media (max-width: 820px) {
	body .navbar-default .navbar-nav>li>a {
	    font-size: 120%;
	}
	.AdSysTitle{width:40%;margin-top:50px;margin-left:-50px;}/*系統標題圖*/
}

@media (max-width: 768px) {
	
	/*原本全版訊息寬度改為滿版*/
	.BlockBig{width:100%;}
	.AdTitle{display:none;}/*標語圖*/
	.AdSysTitle{width:45%;margin-top:65px;margin-left:-80px;}/*系統標題圖*/
	.AlbumBlockWidth{width:33%;}
	
	/*此刻才顯示  小版*/
	.MidShow{display:block;}
	.MidShow .SystemLinkBlock {width:15%;max-width:200px;margin:5px;}
	
	/*導覽連結列NO*/
	.BarTop .NaviLink{ z-index:10; color:#ffffff; margin-top:0px; padding-top:15px; float:left; } 
	.BarTop .NaviLink { width:100%;} 

	.NaviLink a:link,.NaviLink a:visited,.NaviLink a:hover,.NaviLink a:active {
		color:#ffffff !important;/*不會被原設定覆蓋*/
	}
	/*隱藏表格 低重要*/
	.LowerInfor{display:none;}
	/*顯示在RWD選單的項目*/
	.RWDMenuShow{display:block !important;}

	/*首頁連結*/
	.LinkShowHome{width:140px;height:70px;}
	

	body .menu .navbar-collapse{
	    height: auto !important;
	    display: none !important;
	    /* margin-top: -45px; */
	}

	body .menu .navbar-collapse.in {
	    display: inline !important;
	}
	body .navbar .nav>li{
	    margin: 0;
	    float: none;
	    display: flex;
	    width: 100%;
	    display: inline;
	}

	/*置頂選單*/
	body .menu.HideMenu{
	    background-color: transparent;
	    box-shadow: none;
	    height: 46px;
	    position: static !important;
	}

	body .menu.HideMenu .navbar-default {
	    top: 0;
	}

}

@media (max-width: 640px) {
	.LOGO{}/*LOGO*/
	.AdSysTitle{width:50%;margin-top:80px;margin-left:-100px;}/*系統標題圖*/
	body .nav-collapse li,body .nav-collapse li a {
		float: none;padding: 0;
	}
	.MainBigPic{height:230px;}
}

@media (max-width: 600px) {
	.LinkShowHome{width:100px;height:50px;}
}
@media (max-width: 550px) {
	.UnitNoTitle{padding-top:5px;margin-top:-40px;}
}
@media (max-width: 510px) {
	.AlbumBlockWidth{width:50%;}
	
	.MainTop{height:auto;background-image:url('../../TopImg000.png123');}/*上幅高*/
	.AdSysTitle{width:80%;margin-top:-25px;}/*系統標題圖*/
	.Leader_Photo{max-width:100% !important;width:100% !important;}/*長官照片*/
	.Commissioner_Photo{max-width:230px;max-height:200px;}/*專員照片*/
	.Account_Photo{max-width:230px;max-height:250px;}/*科室成員照片*/

	/*隱藏表格 中重要*/
	.MidInfor{display:none;}
	.LinkShowHomeBot{width:160px;height:80px;}

	
	
}
@media (max-width: 422px) {
	
	/*相關連結小版*/
	.LinkShowHomeBot{width:140px;height:70px;}
}
@media (max-width: 480px) {
	/*導覽連結列*/
	.BarTop .NaviLink{ float:right; padding-top:12px; letter-spacing:1.2pt;padding-right:10px;} 
}

@media (max-width: 350px) {
	.LinkShowHomeBot{width:110px;height:55px;}
	.LOGO{width:100%;}/*LOGO*/
}